.lkt-header {
    --lkt-header--align-items: center;
    --lkt-header--background: transparent;
    --lkt-header--border-color: transparent;
    --lkt-header--border-radius: 0;
    --lkt-header--border-style: solid;
    --lkt-header--border-width: 0;
    --lkt-header--color: #444444;
    --lkt-header--display: inline-flex;
    --lkt-header--flex-direction: row;
    --lkt-header--font-size: 14px;
    --lkt-header--font-weight: 400;
    --lkt-header--gap: 15px;
    --lkt-header--height: initial;
    --lkt-header--justify-content: flex-start;
    --lkt-header--margin: 0;
    --lkt-header--max-height: initial;
    --lkt-header--max-width: initial;
    --lkt-header--min-height: initial;
    --lkt-header--min-width: initial;
    --lkt-header--padding: 0;
    --lkt-header--text-align: center;
    --lkt-header--transition: all linear 300ms;
    --lkt-header--width: initial;

    /** Event: Hover */
    --lkt-header--hover--background: var(--lkt-header--background);
    --lkt-header--hover--border-color: var(--lkt-header--border-color);
    --lkt-header--hover--color: var(--lkt-header--color);
}